<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>

</head>
<body>

<div id="main">
    <input type="text" v-model="inputValue" />
    <button id="btn" v-on:click="handleBtnClick">Submit</button>
    <ul v-for="item in list">{{ item }}</ul>
</div>

<script src="./index03.js"></script>

</body>
</html>