<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>

</head>

<body>

<div id="main">

    <h3>1. v-if 指令</h3>
    <p v-if="isView">Yes</p>
    <p v-else>No</p>

    <h3>2. 在 &lt;template&gt; 元素上使用 v-if 条件渲染分组</h3>
    <template v-if="isViewTemplate">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </template>

    <h3>3. v-else 指令</h3>
    <div v-if="Math.random() > 0.5">
        Now you see me
    </div>
    <div v-else>
        Now you don't
    </div>

    <h3>4. v-else-if 指令</h3>
    <div v-if="type === 'A'">
        Character A
    </div>
    <div v-else-if="type === 'B'">
        Character B
    </div>
    <div v-else-if="type === 'C'">
        Character C
    </div>
    <div v-else>
        Not A/B/C
    </div>

</div>

<script src="./index01.js"></script>

</body>

</html>