<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>

    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>

</head>

<body>

<div id="main" v-cloak>

    <div id="example-01">
        <h3>1. Text</h3>
        <p>Your name is: {{ nameText }}</p>
        <input type="text" v-model="nameText" placeholder="Input Your Name">
    </div>

    <div id="example-02">
        <h3>2. Multiline Text</h3>
        <p>Multiline message is: {{ message }}</p>
        <textarea name="message" id="message" cols="40" rows="5" placeholder="Input message" v-model="message"></textarea>
    </div>

    <div id="example-03">
        <h3>3. Single Checkbox</h3>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
    </div>

    <div id="example-04">
        <h3>4. Multiple Checkbox</h3>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked Names: {{ checkedNames }}</span>
    </div>


    <div id="example-05">
        <h3>5. Radio</h3>
        <input type="radio" id="radio01" value="One" v-model="picked">
        <label for="radio01">One</label>
        <br>
        <input type="radio" id="radio02" value="Two" v-model="picked">
        <label for="radio02">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>

    </div>

    <div id="example-06">
        <h3>6. Single Select (bound to String)</h3>
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <div id="example-07">
        <h3>7. Multiple Select (bound to Array)</h3>
        <select v-model="multiSelected" multiple style="width: 50px">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
        <span>multiSelected: {{ multiSelected }}</span>

    </div>

</div>

<script src="./index01.js"></script>

</body>

</html>